<template>
    <div class="sg-page {{ name }}">
        <span>{{ name }} {{ title }}</span>
    </div>
</template>

<script>
export default {
    name: '{{ name }}',
    components: {},
    props: {},
    data() {
        return {}
    },
    computed: {},
    watch: {},
    created() {},
    mounted() {},
    methods: {},
}
</script>

<style lang="less" scoped></style>
