@import './mixins.less';

:root {
    // 主题色
    --color-primary: #188dfb; // 可做背景色和文本色，用做背景色时，需要和--system-primary-text-color配合使用，避免文件颜色和主题色冲突
    --system-primary-text-color: #fff; // 主题色作为背景色时使用
    --system-default-color: #333;
    --color-danger: #f5222d;
    --color-success: #52c41a;
    --color-warning: #faad14;
    --color-info: #bdbdbd;

    // logo颜色相关
    --system-logo-color: #f1f1f1;
    --system-logo-background: #263445;

    // 菜单颜色相关
    --system-menu-width: 200px;
    --system-menu-text-color: #333;
    --system-menu-background: #fff;
    --system-menu-children-background: #f5f5f5;
    --color-primary: #188dfb;
    --system-menu-hover-background: transparent;
    --system-menu-height: 45px;

    // header区域
    --system-header-height: 50px;
    --color-primary: #0071f6;
    --system-header-text-color: #fff;
    --system-header-breadcrumb-text-color: #97a8be;
    --system-header-item-hover-color: #000;
    --system-header-border-color: #d8dce5;
    --system-header-tab-background: #fff;

    // contaier区域，父框架
    --system-container-background: #eee;
    --system-container-main-background: #fff;

    // 页面区域, 这一块是你在自己写的文件中使用主题，核心需要关注的地方
    --system-page-background: #fff; // 主背景
}
// 进度条颜色修改为主题色
body #nprogress .bar {
    background-color: var(--color-primary);
}
body #nprogress .peg {
    box-shadow: 0 0 10px var(--color-primary),
    0 0 5px var(--color-primary);
}
body #nprogress .spinner-icon {
    border-top-color: var(--color-primary);
    border-left-color: var(--color-primary);
}
// 基础
@import './markdown.less';
@import './global.less';
@import './admin.less';
@import './app.less';
@import './home.less';
