@import './mixins.less';

:root {
    // 主题色
    --color-primary: #188dfb; // 可做背景色和文本色，用做背景色时，需要和--system-primary-text-color配合使用，避免文件颜色和主题色冲突
    --system-primary-text-color: #fff; // 主题色作为背景色时使用
    --system-default-color: #333;
    --color-danger: #f5222d;
    --color-success: #52c41a;
    --color-warning: #faad14;
    --color-info: #bdbdbd;

    // logo颜色相关
    --system-logo-color: #f1f1f1;
    --system-logo-background: #263445;

    // 菜单颜色相关
    --system-menu-width: 200px;
    --system-menu-text-color: #333;
    --system-menu-background: #fff;
    --system-menu-children-background: #f5f5f5;
    --system-menu-hover-background: transparent;
    --system-menu-height: 45px;

    // header区域
    --system-header-height: 50px;
    --system-header-text-color: #fff;
    --system-header-breadcrumb-text-color: #97a8be;
    --system-header-item-hover-color: #000;
    --system-header-border-color: #d8dce5;
    --system-header-tab-background: #fff;

    // contaier区域，父框架
    --system-container-background: #eee;
    --system-container-main-background: #fff;

    // 页面区域, 这一块是你在自己写的文件中使用主题，核心需要关注的地方
    --system-page-background: #fff; // 主背景
}
// 进度条颜色修改为主题色
body #nprogress .bar {
    background-color: var(--color-primary);
}
body #nprogress .peg {
    box-shadow: 0 0 10px var(--color-primary), 0 0 5px var(--color-primary);
}
body #nprogress .spinner-icon {
    border-top-color: var(--color-primary);
    border-left-color: var(--color-primary);
}
// 基础
@import './markdown.less';
@import './global.less';
@import './admin.less';

.sg-help-icon::after {
    display: none !important;
}

.sg-table-operator {
    margin-bottom: 7px;
}

// 修改windows下表格固定列最后一行高度异常导致底线上移
.windows {
    .el-table__fixed-right {
        height: 100% !important;
    }
}
.my-drawer,
.el-drawer {
    .el-drawer__header {
        margin-bottom: 0px;
        padding: 5px 20px 5px;
        border-bottom: 1px solid #e8e8e8;
    }
    .drawer-container {
        height: 100%;
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        flex: 1;
        .drawer-main {
            padding: 15px 20px;
            flex: 1;
            overflow-y: auto;
        }
    }
    .drawer-footer {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 10px 20px;
        border-top: 1px solid #e8e8e8;
    }
}
.el-dialog {
    margin-top: 10vh !important;
    .el-dialog__body {
        max-height: 70vh;
    }
}

.el-form .el-row .el-col .el-form-item__label {
    flex-shrink: 0;
}
// TODO: 表单滚动
.sg-data-form .el-form-item__content {
    // overflow-y: auto;
}
.sg-data-view__header {
    margin-bottom: 7px;
}

.sg-data-form-action {
    padding-left: 10px;
    padding-right: 10px;
}

// 修改el-switch样式
.el-switch {
    .el-switch__label {
        display: none;
        font-size: 12px;
        position: absolute;
        top: 2px;
        line-height: 1;
        margin: 0;
        transform: scale(0.8);
        &.is-active.el-switch__label--left {
            display: inline-block;
            color: #999;
            left: 20px;
        }
        &.is-active.el-switch__label--right {
            display: inline-block;
            color: #fff;
            right: 20px;
        }
    }
    .el-switch__core {
        width: 50px !important;
        display: flex !important;
        align-items: center;
        background-color: transparent;
        background-color: transparent !important;

        &::after {
            background-color: #d2d2d2 !important;
            border-color: #d2d2d2 !important;
        }
    }

    &.is-checked {
        .el-switch__core {
            background-color: var(--color-success) !important;
            border-color: var(--color-success) !important;

            &::after {
                background-color: #fff !important;
            }
        }
    }
}
.sg-dot {
    &.success {
        color: var(--color-success);
        &::before {
            background-color: var(--color-success);
        }
    }
    &.danger {
        color: var(--color-danger);
        &::before {
            background-color: var(--color-danger);
        }
    }
    &.warning {
        color: var(--color-warning);
        &::before {
            background-color: var(--color-warning);
        }
    }
    &.info {
        color: var(--color-info);
        &::before {
            background-color: var(--color-info);
        }
    }
}
